In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("miss").getOrCreate()

In [3]:
df = spark.read.csv("dataset/dataFrame/ContainsNull.csv", header=True, inferSchema=True)

In [14]:
df.show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp2| null| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [16]:
df.na.drop(thresh=2).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [20]:
df.na.drop(how="all", thresh=2).show() # row wise

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John| null|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [22]:
df.na.drop(subset=["Sales"]).show() # from specific column

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [24]:
# Fill missing values
df.na.fill("Fill Values").show() # only fill string datatype values

+----+-----------+-----+
|  Id|       Name|Sales|
+----+-----------+-----+
|emp1|       John| null|
|emp2|Fill Values| null|
|emp3|Fill Values|345.0|
|emp4|      Cindy|456.0|
+----+-----------+-----+

In [27]:
df.na.fill(5000).show() # Bydefault fill only same datatype values

+----+-----+------+
|  Id| Name| Sales|
+----+-----+------+
|emp1| John|5000.0|
|emp2| null|5000.0|
|emp3| null| 345.0|
|emp4|Cindy| 456.0|
+----+-----+------+

In [35]:
df.na.fill("Fill Name", subset=["Sales", "Name"]).show()

+----+---------+-----+
|  Id|     Name|Sales|
+----+---------+-----+
|emp1|     John| null|
|emp2|Fill Name| null|
|emp3|Fill Name|345.0|
|emp4|    Cindy|456.0|
+----+---------+-----+

In [36]:
# Filling null values with mean values

from pyspark.sql.functions import mean

In [46]:
mean_val = df.select(mean(df["Sales"])).collect()

In [50]:
mean_val, mean_val[0], mean_val[0][0]

([Row(avg(Sales)=400.5)], Row(avg(Sales)=400.5), 400.5)

In [52]:
mean_sales = mean_val[0][0]

In [53]:
df.na.fill(mean_sales, subset=["Sales"]).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| null|400.5|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+

In [54]:
# Single line
df.na.fill(df.select(mean(df.Sales)).collect()[0][0], subset=["Sales"]).show()

+----+-----+-----+
|  Id| Name|Sales|
+----+-----+-----+
|emp1| John|400.5|
|emp2| null|400.5|
|emp3| null|345.0|
|emp4|Cindy|456.0|
+----+-----+-----+