In [1]:
import findspark

In [2]:
findspark.init("/home/shoaibalauddin/spark-2.4.4-bin-hadoop2.7")

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [6]:
df = spark.read.json("dataset/dataFrame/people.json")

In [7]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [8]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [16]:
df.columns

['age', 'name']

In [17]:
df.describe()

DataFrame[summary: string, age: string, name: string]

In [15]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [19]:
 from pyspark.sql.types import (StructField, StringType, IntegerType, StructType)

In [20]:
data_schema = [StructField('age', IntegerType(), True), 
               StructField("name", StringType(), True)]

In [21]:
final_struc = StructType(fields=data_schema)

In [28]:
df_new = spark.read.json("/home/shoaibalauddin/Downloads/courses/start - Spark and Python for Big Data with PySpark/1. Introduction to Course/3.1 Python-and-Spark-for-Big-Data-master/Spark_DataFrames/people.json", schema=final_struc)

In [29]:
df_new.describe()

DataFrame[summary: string, age: string, name: string]

In [30]:
df_new.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [45]:
 type(df_new["age"]), type(df_new.select("age"))

(pyspark.sql.column.Column, pyspark.sql.dataframe.DataFrame)

In [46]:
type(df_new.head(2)[0])

pyspark.sql.types.Row

In [52]:
df_new.select(["age", "name"]).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [53]:
df_new.select(["age", "name"])

DataFrame[age: int, name: string]

In [59]:
df_new.withColumn("newage", df_new["age"]).show()

+----+-------+------+
| age|   name|newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [60]:
df_new.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [62]:
df_new.withColumnRenamed("age", "new age").show()

+-------+-------+
|new age|   name|
+-------+-------+
|   null|Michael|
|     30|   Andy|
|     19| Justin|
+-------+-------+

In [73]:
# store spark object as sql
df_new.createOrReplaceTempView("people")

In [72]:
results = spark.sql("SELECT * FROM people")
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [75]:
spark.sql("select * from people where age=30").show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+