In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("dates").getOrCreate()

In [5]:
df = spark.read.csv("/dataset/dataFrame/appl_stock.csv", header=True, inferSchema=True)

In [15]:
df.select(["Date", "Close"]).show()

+-------------------+------------------+
|               Date|             Close|
+-------------------+------------------+
|2010-01-04 00:00:00|        214.009998|
|2010-01-05 00:00:00|        214.379993|
|2010-01-06 00:00:00|        210.969995|
|2010-01-07 00:00:00|            210.58|
|2010-01-08 00:00:00|211.98000499999998|
|2010-01-11 00:00:00|210.11000299999998|
|2010-01-12 00:00:00|        207.720001|
|2010-01-13 00:00:00|        210.650002|
|2010-01-14 00:00:00|            209.43|
|2010-01-15 00:00:00|            205.93|
|2010-01-19 00:00:00|        215.039995|
|2010-01-20 00:00:00|            211.73|
|2010-01-21 00:00:00|        208.069996|
|2010-01-22 00:00:00|            197.75|
|2010-01-25 00:00:00|        203.070002|
|2010-01-26 00:00:00|        205.940001|
|2010-01-27 00:00:00|        207.880005|
|2010-01-28 00:00:00|        199.289995|
|2010-01-29 00:00:00|        192.060003|
|2010-02-01 00:00:00|        194.729998|
+-------------------+------------------+
only showing top 20 rows

In [10]:
from pyspark.sql.functions import (dayofmonth, hour, dayofyear, month,
                                   year, weekofyear, format_number, date_format)

In [12]:
df.select(dayofmonth(df["Date"]).alias("Day in Month")).show()

+------------+
|Day in Month|
+------------+
|           4|
|           5|
|           6|
|           7|
|           8|
|          11|
|          12|
|          13|
|          14|
|          15|
|          19|
|          20|
|          21|
|          22|
|          25|
|          26|
|          27|
|          28|
|          29|
|           1|
+------------+
only showing top 20 rows

In [13]:
df.select(hour(df.Date).alias("Monthly Date Starting hour")).show()

+--------------------------+
|Monthly Date Starting hour|
+--------------------------+
|                         0|
|                         0|
|                         0|
|                         0|
|                         0|
|                         0|
|                         0|
|                         0|
|                         0|
|                         0|
|                         0|
|                         0|
|                         0|
|                         0|
|                         0|
|                         0|
|                         0|
|                         0|
|                         0|
|                         0|
+--------------------------+
only showing top 20 rows

In [18]:
df.select(["Date", month(df.Date).alias("Month Number")]).show()

+-------------------+------------+
|               Date|Month Number|
+-------------------+------------+
|2010-01-04 00:00:00|           1|
|2010-01-05 00:00:00|           1|
|2010-01-06 00:00:00|           1|
|2010-01-07 00:00:00|           1|
|2010-01-08 00:00:00|           1|
|2010-01-11 00:00:00|           1|
|2010-01-12 00:00:00|           1|
|2010-01-13 00:00:00|           1|
|2010-01-14 00:00:00|           1|
|2010-01-15 00:00:00|           1|
|2010-01-19 00:00:00|           1|
|2010-01-20 00:00:00|           1|
|2010-01-21 00:00:00|           1|
|2010-01-22 00:00:00|           1|
|2010-01-25 00:00:00|           1|
|2010-01-26 00:00:00|           1|
|2010-01-27 00:00:00|           1|
|2010-01-28 00:00:00|           1|
|2010-01-29 00:00:00|           1|
|2010-02-01 00:00:00|           2|
+-------------------+------------+
only showing top 20 rows

In [28]:
df.select([year(df.Date), "Date"]).show()

+----------+-------------------+
|year(Date)|               Date|
+----------+-------------------+
|      2010|2010-01-04 00:00:00|
|      2010|2010-01-05 00:00:00|
|      2010|2010-01-06 00:00:00|
|      2010|2010-01-07 00:00:00|
|      2010|2010-01-08 00:00:00|
|      2010|2010-01-11 00:00:00|
|      2010|2010-01-12 00:00:00|
|      2010|2010-01-13 00:00:00|
|      2010|2010-01-14 00:00:00|
|      2010|2010-01-15 00:00:00|
|      2010|2010-01-19 00:00:00|
|      2010|2010-01-20 00:00:00|
|      2010|2010-01-21 00:00:00|
|      2010|2010-01-22 00:00:00|
|      2010|2010-01-25 00:00:00|
|      2010|2010-01-26 00:00:00|
|      2010|2010-01-27 00:00:00|
|      2010|2010-01-28 00:00:00|
|      2010|2010-01-29 00:00:00|
|      2010|2010-02-01 00:00:00|
+----------+-------------------+
only showing top 20 rows

In [56]:
newdf = newdf.withColumn("Year", year(df.Date))

In [62]:
newdf.groupBy("Year").mean().show()

+----+------------------+------------------+------------------+------------------+--------------------+------------------+------------------+---------+
|Year|         avg(Open)|         avg(High)|          avg(Low)|        avg(Close)|         avg(Volume)|    avg(Adj Close)| avg(Month Number)|avg(Year)|
+----+------------------+------------------+------------------+------------------+--------------------+------------------+------------------+---------+
|2015|120.17575393253965|121.24452385714291| 118.8630954325397|120.03999980555547|  5.18378869047619E7|115.96740080555561| 6.567460317460317|   2015.0|
|2013| 473.1281355634922| 477.6389272301587|468.24710264682557| 472.6348802857143|          1.016087E8| 62.61798788492063|6.5436507936507935|   2013.0|
|2014| 295.1426195357143|297.56103184523823| 292.9949599801587| 295.4023416507935| 6.315273055555555E7| 87.63583323809523| 6.551587301587301|   2014.0|
|2012|     576.652720788| 581.8254008040001| 569.9211606079999| 576.0497195640002|       1.319642044E8| 74.81383696800002|               6.5|   2012.0|
|2016|104.50777772619044| 105.4271825436508|103.69027771825397|104.60400786904763|  3.84153623015873E7|103.15032854761901| 6.555555555555555|   2016.0|
|2010| 259.9576190992064|262.36880881349214|256.84761791269847| 259.8424600000002|1.4982631666666666E8|33.665072424603196| 6.583333333333333|   2010.0|
|2011|364.06142773412705| 367.4235704880951|360.29769878174613|364.00432532142867|1.2307474166666667E8| 47.16023692063492|6.5476190476190474|   2011.0|
+----+------------------+------------------+------------------+------------------+--------------------+------------------+------------------+---------+

In [67]:
result = newdf.groupBy("Year").mean().select(["Year", "avg(Close)", "avg(High)"])

In [80]:
new_result = result.withColumnRenamed("avg(Close)","Avg Close")

In [86]:
new_result.select([format_number("Avg Close", 3).alias("Avg Close"), "Year"]).show()

+---------+----+
|Avg Close|Year|
+---------+----+
|  120.040|2015|
|  472.635|2013|
|  295.402|2014|
|  576.050|2012|
|  104.604|2016|
|  259.842|2010|
|  364.004|2011|
+---------+----+

In [55]:
newdf.select(["Date", "Close", "Year"]).show()

+-------------------+------------------+----+
|               Date|             Close|Year|
+-------------------+------------------+----+
|2010-01-04 00:00:00|        214.009998|2010|
|2010-01-05 00:00:00|        214.379993|2010|
|2010-01-06 00:00:00|        210.969995|2010|
|2010-01-07 00:00:00|            210.58|2010|
|2010-01-08 00:00:00|211.98000499999998|2010|
|2010-01-11 00:00:00|210.11000299999998|2010|
|2010-01-12 00:00:00|        207.720001|2010|
|2010-01-13 00:00:00|        210.650002|2010|
|2010-01-14 00:00:00|            209.43|2010|
|2010-01-15 00:00:00|            205.93|2010|
|2010-01-19 00:00:00|        215.039995|2010|
|2010-01-20 00:00:00|            211.73|2010|
|2010-01-21 00:00:00|        208.069996|2010|
|2010-01-22 00:00:00|            197.75|2010|
|2010-01-25 00:00:00|        203.070002|2010|
|2010-01-26 00:00:00|        205.940001|2010|
|2010-01-27 00:00:00|        207.880005|2010|
|2010-01-28 00:00:00|        199.289995|2010|
|2010-01-29 00:00:00|        192.060003|2010|
|2010-02-01 00:00:00|        194.729998|2010|
+-------------------+------------------+----+
only showing top 20 rows

In [53]:
newdf.groupBy("Year").mean().select(["Year"]).show()

+----+
|Year|
+----+
|2015|
|2013|
|2014|
|2012|
|2016|
|2010|
|2011|
+----+